---
import type { GetStaticPaths } from "astro";
import BlogLayout from "../../Layouts/BlogLayout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { Formatter } from "../../Utils/formatter";

export const getStaticPaths = (async () => {
    const blogPostCollection = await getCollection("blog");
    const authors = await getCollection("author");

    return blogPostCollection.map((post) => ({
        params: { slug: post.slug },
        props: { post: post },
    }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const frontmatter = post.data;
const { Content, headings } = await post.render();
const author = (await getEntry(frontmatter.author)).data;
---

<BlogLayout title={frontmatter.title}>
    <div class="mt-2 text-md text-gray-400 mb-0 flex flex-row p-2 items-center">
        <Image
            src={author.avatar}
            class="rounded-full"
            alt={author.name}
            width={50}
            height={50}
        />
        <div class="flex flex-col ml-5">
            <a
                href=`/pagintedBlog/${author.name.toLowerCase().replaceAll(' ', '-')}`
                class="text-blue-400">{author.name}</a
            >
            <span class="text-xs text-gray-200"
                >{Formatter.formateDate(frontmatter.date)}</span
            >
        </div>
    </div>

    <!-- Imagen -->

    <Image
        class="object-cover w-full rounded-md h-[250px] my-5"
        src={frontmatter.image}
        alt={frontmatter.title}
        width={500}
        height={220}
        quality="mid"
        transition:name={`${post.slug}-name`}
    />

    <h3>Tabla de contenidos</h3>
    <ol>
        {
            headings.map((heading, index) => (
                <li>
                    <a href={`#${heading.slug}`}>
                        {index + 1} - {heading.text}
                    </a>
                </li>
            ))
        }
    </ol>

    <!-- Contenido -->

    <Content />
</BlogLayout>
